/* TODO: Format the following:
move the calculated gpa to the other side of the screen */
.Calculator {
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

#instructions {
    grid-column: col-start 2 / span 5;
    grid-row: 1;
    text-align: left;
    font-weight: 500;
    font-size: xx-large;
}

#classInfo {
    grid-column: col-start 2 / span 5;
    grid-row: 2;
}

#calculatedGPA {
    grid-column: col-start 7 / span 9;
    grid-row: 1;
    font-weight: 500;
    font-size: xx-large;
}
#calculatedGPAValue {
    grid-column: col-start 7 / span 9;
    grid-row: 2;
    font-weight: 700;
    font-size: 3em;
}

#buttonField {
    grid-column: col-start 2 / span 5;
    grid-row: 3;
}