#navbar-wrapper {
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2px;
  font-weight: 500;
}
.Home-Page > * {
  grid-column: col-start / span 12;
}

#navbar {
    grid-column: col-start 2 / span 11;
    grid-row: 2;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(119, 58, 58); */
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  
}

